*~
*.swo
*.swp
tmp/
*.ps$
*.ps.xml$
# *.html
rsconnect/
local_mode_result/
# vignette.html
vignette_files/
vignette_cache/
inst/extdata/shinyApp/test*.R
html_shm/
!inst/extdata/shinyApp/html_shm/README.txt
inst/extdata/shinyApp/www/ggly/*
*.mp4
