*~
*.swo
*.swp
*.swn
tmp/
*.ps$
*.ps.xml$
*.arg
vignette.html
*_cache/
rsconnect/
sub_matrix.txt
customComputedData/
spatialHeatmap.html
vignette_files/
spatialHeatmap_files/
spatialHeatmap_cache/
covisualize.html
covisualize_files/
covisualize_cache/
inst/extdata/shinyApp/test*
html_shm/
!inst/extdata/shinyApp/html_shm/README.txt
inst/extdata/shinyApp/www/ggly/*
inst/extdata/shinyApp/R/www/
*.mp4
