*~
*.swo
*.swp
tmp/
*.ps$
*.ps.xml$
vignette.html
rsconnect/
sub_matrix.txt
customComputedData/
spatialHeatmap.html
vignette_files/
spatialHeatmap_files/
vignette_cache/
inst/extdata/shinyApp/test*
html_shm/
!inst/extdata/shinyApp/html_shm/README.txt
inst/extdata/shinyApp/www/ggly/*
*.mp4
